/* VARS */
:root {
	--primary-color: white;
	--secondary-color: rgb(212, 175, 55);
	--secondary-btn-bg: rgb(0, 0, 0);
	--secondary-btn-hover: rgb(40, 40, 40);
	--hover-color: rgb(226, 187, 60);
	--progress-empty-color: rgb(255, 223, 186);
	--progress-filled-color: rgb(212, 175, 55);
	--title-color: rgb(30, 30, 30);
	--text-color: rgb(80, 80, 80);
	--border-color: rgb(225, 225, 225);
	--box-shadow-color: rgb(100, 100, 100);
	--border-size-pic: 8px;
	--primary-border-radius: 4px;
}

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--title-color);
	background-color: var(--primary-color);
}

p,
span,
small {
	color: var(--text-color);
}

a {
	color: var(--secondary-color);
}

a:hover {
	color: var(--hover-color);
}

html {
	scroll-behavior: smooth;
}

/* STYLES */

.body-hidden {
	opacity: 0;
}

body {
	overflow-x: hidden;
	transition: opacity 0.2s ease-in;
	height: 100vh;
	font-family: 'Noto Sans', sans-serif;
	background-color: var(--primary-color);
}

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--primary-color);
	border-top: 1px solid var(--border-color);
	z-index: 999;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

nav li {
	height: 100%;
	display: flex;
}

nav a:hover {
	color: var(--hover-color);
}

nav a {
	padding: 1.5rem 0;
	height: 100%;
	text-decoration: none;
	font-weight: 600;
	font-size: 0.7rem;
	color: var(--secondary-color);
}

header .primary-btn {
	width: 160px;
	margin-top: 1rem;
	text-align: center;
	font-size: 0.8rem;
}

header {
	margin-top: 2rem;
}

hr {
	border: 1px solid var(--border-color);
	margin: auto;
	width: 91%;
}

.hr-professional-purpose {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.hr-experience,
.hr-education,
.hr-footer,
.hr-training {
	margin-bottom: 3rem;
	margin-top: 3rem;
}

.hr-experience {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.hr-about-me {
	margin-top: 2.5rem;
}

.section-about-me {
	margin-top: 1.5rem;
}

figure,
figcaption {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header figure {
	height: 80%;
}

header h5 {
	margin-top: 1rem;
	text-align: center;
	color: var(--text-color);
}

figcaption {
	margin-top: 1rem;
}

.profile-pic {
	width: 200px;
	border-radius: 50%;
	border: var(--border-size-pic) solid var(--secondary-color);
}

.primary-btn {
	border-radius: 4px;
	background-color: var(--secondary-color);
	border: none;
	color: var(--primary-color);
	text-decoration: none;
	transition: background-color 0.3s ease-in;
}

.primary-btn:hover {
	background-color: var(--hover-color);
}

header figcaption {
	margin-top: 1rem;
}

header .primary-btn {
	padding: 1rem;
	margin-top: 0.7rem;
	box-shadow: 1px 1px 3px var(--box-shadow-color);
}

section {
	display: flex;
	flex-direction: column;
	gap: 1.3rem;
}

section small {
	text-align: justify;
	display: block;
}

.section-experience h2,
.section-education h2,
.section-skills h2:first-child,
.section-training h2,
.section-about-me h2 {
	position: sticky;
	top: 0;
	background-color: var(--primary-color);
	margin-top: -1rem;
	margin-bottom: -1.1rem;
	padding-top: 1rem;
	padding-bottom: 1.1rem;
}

.section-training .icon-container {
	margin-bottom: 1rem;
}

.training-date {
	display: flex;
	align-items: center;
	margin-top: 0;
}

.training-date h4 {
	font-weight: 400;
	font-style: italic;
}

.section-training {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.section-training h2 {
	grid-column: 1/-1;
}

section a {
	text-decoration: none;
}

.sticky-on {
	border-bottom: 2px solid var(--border-color);
}

section :is(a, span, p) {
	font-size: 0.9rem;
}

section span {
	margin: 0.4rem 0;
}
section p span {
	font-style: italic;
}

section h3 {
	padding-bottom: 0.5rem;
}

article,
section h2 {
	padding: 0 1.5rem;
}

.section-training {
	padding: 0 1.5rem;
	gap: 1.5rem;
}

.section-training article {
	padding: 0;
}

.date-education {
	flex-direction: row;
	gap: 0.4rem;
}

.section-training small {
	margin-top: 0.5rem;
}
.section-training .icon-container + img {
	border-radius: 4px;
	transition: transform 0.3s ease;
}
.section-training .icon-container + img:not(.no-hover) {
	cursor: pointer;
}

.section-training article:nth-child(2) {
	grid-column: 1/-1;
	grid-row: 2/3;
}

.section-training .icon-container + img:hover:not(.no-hover) {
	transform: scale(1.1);
}

.icon-container {
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap: 0.5rem;
}

.icon-container img {
	width: 20px;
}

article:nth-child(7) .icon-container figcaption,
article:nth-child(8) .icon-container figcaption {
	margin-top: 0;
}

.container-working {
	display: none;
}

.hr-skills {
	margin: 2rem auto;
}

.section-skills li {
	list-style: none;
	display: flex;
	align-items: center;
}

h1 {
	font-size: 1.5rem;
	text-align: center;
	font-weight: 600;
	color: rgb(120, 120, 120);
}

.section-about-me b,
.section-experience b,
h3 {
	font-weight: 600;
}

.section-training h3,
.section-education h3 {
	font-weight: 600;
}

.section-skills h3 {
	padding-bottom: 0.5rem;
	padding-top: 1.1rem;
	font-size: 0.9rem;
	color: var(--text-color);
}

.section-skills span {
	width: 40%;
	font-style: italic;
}

.section-skills small {
	padding-left: 0.5rem;
}

progress {
	appearance: none;
	-webkit-appearance: none;
	width: 40%;
	margin-left: auto;
	height: 12px;
	border-radius: 4px;
	overflow: hidden;
	background-color: var(--progress-empty-color);
}

progress::-webkit-progress-bar {
	background-color: var(--progress-empty-color);
}

progress::-webkit-progress-value {
	background-color: var(--progress-empty-color);
}

progress::-moz-progress-bar {
	background-color: var(--progress-empty-color);
}

progress::-webkit-progress-value {
	background-color: var(--progress-filled-color);
	transition: width 0.5s ease;
}

progress::-moz-progress-bar {
	background-color: var(--progress-filled-color);
	transition: width 0.5s ease;
}

.section-skills .title-n2 {
	padding: 0;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.section-contact {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	max-width: 300px;
	padding-left: 1rem;
	margin-right: auto;
}

.section-contact small {
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 1rem;
	grid-column: 1/-1;
}

.section-contact h2 {
	padding: 0;
	margin-top: -0.5rem;
}
.section-contact article {
	padding: 1rem 1.5rem;
	padding-bottom: 1.5rem;
	width: 100%;
	border-radius: 4px;
	border: 1px solid var(--border-color);
}

.section-contact figure:not(.icon-container) {
	flex-direction: row;
	gap: 0.5rem;
	justify-content: space-between;
}

.section-contact .icon-container {
	gap: 0.25rem;
	width: 100%;
}

.section-contact .icon-container span {
	font-size: 0.7rem;
}

.section-contact .icon-container img {
	width: 12px;
	border-radius: 0;
}

.section-contact img {
	width: 75px;
	border-radius: 50%;
}
.section-contact small {
	width: 100%;
}

.section-contact figcaption {
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
	margin: 0;
	align-items: center;
}

.section-contact h3 {
	padding: 0;
}

.section-contact .primary-btn {
	width: 100%;
	margin-top: 1.2rem;
	padding: 0.5rem 0;
	margin-left: auto;
	border-radius: 4px;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 0.8rem;
}

header .primary-btn:hover {
	color: var(--primary-color);
}

.section-contact .primary-btn:hover {
	background-color: var(--hover-color);
}

.section-contact article:nth-child(3) h4 {
	padding-right: 0.5rem;
}

.button-icon {
	text-decoration: none;
	width: fit-content;
	border-radius: var(--primary-border-radius);
	padding: 0.1rem 0.65rem;
	margin-left: 0.5rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
	border: none;
	cursor: pointer;
	background-color: var(--secondary-btn-bg);
	transition: background-color 0.3s ease-in;
}

.button-icon:hover {
	background-color: var(--secondary-btn-hover);
}

.section-education .icon-container figcaption {
	margin-top: 0;
}

.section-about-me h3,
.section-experience h3 {
	color: rgb(120, 120, 120);
}

.button-icon span {
	color: var(--primary-color);
	font-size: 0.75rem;
}
.button-icon img {
	width: 14px;
}

.box-transcript {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	background-color: rgb(243, 243, 243);
	border-radius: var(--primary-border-radius);
	border: 1px solid var(--border-color);
	transition: opacity 0.3s ease-in;
}
.box-transcript li {
	text-align: justify;
	list-style: none;
}

.section-about-me p {
	text-align: justify;
}

footer {
	padding: 0 1.5rem;
	padding-bottom: 2rem;
}

footer ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
}

footer li {
	font-size: 0.8rem;
}
section h3 {
	color: rgb(120, 120, 120);
	font-weight: 600;
}

footer li:first-child {
	padding-bottom: 0.5rem;
}

footer :is(a, span) {
	color: rgb(120, 120, 120);
}

.footer-social-networks {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

.dot {
	font-size: 0.5rem;
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 0;
	margin-bottom: 0;
}

.hidden {
	display: none;
}

.hidden-opacity {
	opacity: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: none;
}

/* TABLET VERSION #1*/
@media screen and (min-width: 700px) {
	header + hr {
		display: none;
	}
	.profile-pic {
		width: 250px;
	}
	body {
		display: grid;
		grid-template-columns: 35% 35% 30%;
		height: 100%;
	}
	.sticky-on {
		border: none;
	}
	header {
		grid-column: 1/2;
		height: 100%;
		margin-top: 0;
		padding-top: 2rem;
		position: fixed;
		width: 38%;
		top: 0;
	}

	hr,
	.section-experience,
	.section-education,
	.section-skills,
	.section-training,
	.section-about-me {
		grid-column: 2/-1;
	}

	.section-skills {
		grid-column: 2/-1;
	}

	hr {
		width: 95%;
	}

	.section-about-me {
		padding-top: 1.5rem;
	}

	.section-experience {
		padding-top: 1.5rem;
	}

	.hr-footer {
		margin-bottom: 2rem;
	}
	.section-contact {
		padding: 1rem;
		flex-direction: row;
		max-width: none;
		width: 100%;
		gap: 1rem;
		flex-wrap: wrap;
	}
	.section-contact h2 {
		flex-grow: 1;
		width: 100%;
	}
	.section-contact article {
		margin-top: 1rem;
	}

	.section-contact h2 {
		grid-column: 1/-1;
	}
	.section-contact article {
		max-width: 330px;
	}
}

/* TABLET VERSION #2*/
@media screen and (min-width: 800px) {
	header {
		grid-column: 1/2;
		height: 100%;
		margin-top: 0;
		padding-top: 2rem;
		position: fixed;
		width: 32%;
		top: 0;
	}
	.hr-about-me {
		margin-top: 0;
	}

	.section-about-me {
		margin-top: 0;
	}
}

/* DESKTOP VERSION */
@media screen and (min-width: 1080px) {
	header {
		top: 8vh;
	}
	nav {
		position: relative;
		height: fit-content;
		grid-column: 1/-1;
		position: sticky;
		border: none;
		top: 0;
	}

	.section-skills small,
	.section-education small,
	.section-experience small,
	.section-skills small,
	.section-about-me small {
		font-size: 0.9rem;
	}

	section {
		/* min-height: 100vh; */
	}

	.section-skills {
		margin-bottom: 6rem;
	}

	.section-skills {
		grid-column: 2/3;
	}

	nav a {
		font-size: 0.8rem;
	}

	.section-skills {
		padding-bottom: 2rem;
		margin-bottom: 0;
	}
	.section-experience h2,
	.section-education h2,
	.section-skills h2:first-child,
	.section-training h2,
	.section-about-me h2 {
		top: 9vh;
	}
	footer {
		grid-column: 2/-1;
	}
	.section-contact {
		flex-wrap: nowrap;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto 1fr;
		max-width: 650px;
		margin-top: 1rem;
	}
}

@media screen and (min-width: 1265px) {
	.button-icon {
		margin-left: 0;
		margin-top: 0.2rem;
	}
}
