hgroup {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--primary-title-color);
	background-color: var(--primary-bg-color);
}

h1 {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--primary-title-color);
}

p,
span,
small {
	color: var(--primary-text-color);
}

a {
	color: var(--primary-btn-color);
	transition: color 0.3s ease;

	&:hover {
		color: var(--primary-btn-color-hover);
	}
}

hr {
	border: 1px solid var(--primary-border-color);
	margin: auto;
	width: 91%;

	&.hr-professional-purpose {
		margin: 1rem 0;
	}
	&.hr-experience,
	&.hr-education,
	&.hr-training &.hr-experience {
		margin: 1.5rem auto 1rem;
	}
	&.hr-about-me {
		margin-top: 2.5rem;
	}
}

figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section {
	display: flex;
	flex-direction: column;
	gap: 1.3rem;

	b {
		font-weight: 550;
	}

	small {
		text-align: justify;
		display: block;
	}

	:is(a, span, p) {
		font-size: 0.9rem;
	}

	span {
		margin: 0.4rem 0;
	}

	p span {
		font-style: italic;
	}

	h3 {
		padding-bottom: 0.5rem;
		color: var(--primary-text-color);
		font-weight: 600;
		text-align: justify;
	}

	h2 {
		padding: 0 1.5rem 0 0;
		font-weight: 600;
	}
}

.hr-training,
.hr-experience,
.hr-education {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.section-training h2,
.section-education h2,
.section-experience h2 {
	padding-bottom: 1.5rem;
	margin-bottom: -1.5rem;
}

hr.hr-experience {
	margin-top: 2.5rem;
}

.section-about-me,
.section-experience,
.section-education {
	padding-left: 1.5rem;
}

.section-about-me,
.section-education {
	padding-right: 1.5rem;
}

.section-about-me {
	margin-top: 1.5rem;
	p {
		text-align: justify;
	}

	h2 {
		position: sticky;
		top: 0;
		background-color: var(--primary-bg-color);
		margin: -1rem 0 -1.1rem;
		padding: 2rem 0 1.1rem;
	}

	img {
		margin: 0 1.5rem;
		width: 300px;
		margin: auto;
		border-radius: var(--primary-border-radius);
	}
}

.section-experience {
	article {
		padding-right: 1.5rem;
	}
	p {
		text-align: justify;
	}
}

.section-education {
	.icon-container {
		margin-bottom: 0.5rem;
	}
}
.section-experience {
	.icon-container {
		margin-bottom: 0.5rem;
	}
}

.section-training {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	padding: 0 1.5rem;
	gap: 1.5rem;

	h2 {
		grid-column: 1/-1;
		padding-left: 0;
	}
	article {
		padding: 0;
	}
	.icon-container {
		margin-bottom: 1rem;
	}
	h3,
	.section-education h3 {
		font-weight: 600;
	}
	small {
		margin-top: 0.5rem;
	}
	.icon-container + img {
		border-radius: var(--primary-border-radius);
		transition: transform 0.3s ease;

		&:not(.no-hover) {
			cursor: pointer;
		}
		&:hover:not(.no-hover) {
			transform: scale(1.1);
		}
	}
	article:nth-child(2) {
		grid-column: 1/-1;
		grid-row: 2/3;
	}
	article:nth-child(5) {
		grid-column: 1/-1;
	}
}

.icon-container {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 0.5rem;

	img {
		width: 20px;
	}
}

.section-skills {
	margin-bottom: 6rem;
	padding-bottom: 2rem;

	li {
		list-style: none;
		display: flex;
		align-items: center;
	}
	h3 {
		padding: 1.1rem 0 0.5rem;
		font-size: 0.9rem;
		color: var(--primary-text-color);
	}
	span {
		width: 40%;
		font-style: italic;
	}
	small {
		padding-left: 0.5rem;
	}
	.title-n2 {
		padding: 1.5rem 0;
	}
}

.section-contact {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	max-width: 300px;
	padding-left: 1rem;
	margin-right: auto;

	h2 {
		padding: 0;
		margin-top: -0.5rem;
		grid-column: 1/-1;
	}
	small {
		text-align: center;
		display: block;
		margin: 1rem auto 0;
		width: 100%;
	}
	article {
		padding: 1rem 1.5rem 1.5rem;
		width: 100%;
		border-radius: var(--primary-border-radius);
		border: 1px solid var(--primary-border-color);
		max-width: 330px;
	}
	figure:not(.icon-container) {
		flex-direction: row;
		gap: 0.5rem;
		justify-content: space-between;
	}
	.icon-container {
		gap: 0.25rem;
		width: 100%;

		span {
			font-size: 0.7rem;
		}
		img {
			width: 12px;
			border-radius: 0;
		}
	}
	img {
		width: 75px;
		border-radius: 50%;
	}
	figcaption {
		display: flex;
		flex-direction: column;
		gap: 0.1rem;
		margin: 0;
		align-items: center;
	}
	h3 {
		padding: 0;
	}
	.primary-btn {
		width: 100%;
		margin-top: 1.2rem;
		padding: 0.5rem 0;
		margin-left: auto;
		border-radius: var(--primary-border-radius);
		background-color: var(--primary-btn-color);
		color: var(--primary-bg-color);
		display: block;
		text-align: center;
		font-size: 0.8rem;

		&:hover {
			background-color: var(--primary-btn-color-hover);
		}
	}
	article:nth-child(3) h4 {
		padding-right: 0.5rem;
	}
}

.section-education img {
	object-fit: cover;
	object-position: center;
}

.button-icon {
	text-decoration: none;
	width: fit-content;
	border-radius: var(--primary-border-radius);
	padding: 0.1rem 0.65rem;
	margin-left: 0.5rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
	border: none;
	cursor: pointer;
	background-color: var(--primary-btn-color);
	transition: background-color 0.3s ease-in;

	&:hover {
		background-color: var(--btn-bg-dark-hover);
	}

	span {
		color: var(--primary-bg-color);
		font-size: 0.75rem;
	}
	img {
		width: 14px;
	}
}

.box-transcript {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	background-color: var(--primary-color-light);
	border-radius: var(--primary-border-radius);
	border: 1px solid var(--primary-border-color);
	transition: opacity 0.3s ease-in;

	li {
		text-align: justify;
		list-style: none;
	}
}

.container-english-certificate,
.container-university {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 2.5rem;
	row-gap: 1rem;
	align-items: center;

	> img {
		margin-left: 0;
		border-radius: var(--primary-border-radius);
		height: 100%;
	}

	&.container-english-certificate > img {
		cursor: pointer;
		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.hidden {
	display: none;
}
.hidden-opacity {
	opacity: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: none;
}

@media screen and (min-width: 650px) {
	.section-about-me {
		display: grid;
		grid-template-columns: repeat(2, auto);
		align-items: center;

		img {
			width: 210px;
			grid-column: 1/2;
			grid-row: 1/2;
		}
	}
}

@media screen and (min-width: 700px) {
	hr,
	.section-experience,
	.section-education,
	.section-skills,
	.section-training,
	.section-about-me {
		grid-column: 2/-1;
	}
	hr {
		width: 95%;
	}
	.section-about-me,
	.section-experience {
		padding-top: 1.5rem;
	}
	.section-contact {
		padding: 1rem;
		flex-direction: row;
		max-width: none;
		width: 100%;
		gap: 1rem;
		flex-wrap: wrap;

		h2 {
			flex-grow: 1;
			width: 100%;
		}
		article {
			margin-top: 1rem;
		}
	}
}

@media screen and (min-width: 800px) {
	.hr-about-me,
	.section-about-me {
		margin-top: 0;
	}
}

@media screen and (min-width: 1080px) {
	.section-about-me h2 {
		padding-top: 0;
		top: 10.5vh;
	}

	.section-skills,
	.section-education,
	.section-experience,
	.section-about-me {
		small {
			font-size: 0.9rem;
		}
	}
	.section-skills {
		grid-column: 2/3;
		margin-bottom: 0;
	}

	.section-experience h2,
	.section-education h2,
	.section-skills h2:first-child,
	.section-training h2,
	.section-about-me h2 {
		top: 10vh;
		position: sticky;
	}

	.section-contact {
		flex-wrap: nowrap;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto 1fr;
		max-width: 650px;
		margin-top: 1rem;
	}
}

@media screen and (min-width: 1265px) {
	.button-icon {
		margin-left: 0;
		margin-top: 0.2rem;
	}
}
