* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--primary-title-color);
	background-color: var(--primary-color);
}

p,
span,
small {
	color: var(--primary-text-color);
}

a {
	color: var(--secondary-color);
}

a:hover {
	color: var(--secondary-color-hover);
}

html {
	scroll-behavior: smooth;
}

.body-hidden {
	opacity: 0;
}

body {
	width: 100%;
	margin: auto;
	max-width: 750px;
	overflow-x: hidden;
	transition: opacity 0.2s ease-in;
	background-color: var(--primary-color);
}

section {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

hr {
	border: 1px solid var(--primary-border-color);
	margin: auto;
	width: 100%;
	grid-column: 1/-1;
}

.hr-footer {
	width: 97%;
	margin-left: 1.5rem;
}

.primary-btn {
	border-radius: 4px;
	background-color: var(--secondary-color);
	border: none;
	color: var(--primary-color);
	text-decoration: none;
	transition: background-color 0.3s ease-in;
}

.primary-btn:hover {
	background-color: var(--hover-color);
}

section {
	display: flex;
	flex-direction: column;
	gap: 1.1rem;
}

.section-projects {
	margin-top: 1.5rem;
}

.section-projects a {
	color: var(--primary-text-color);
	text-decoration: none;
	font-weight: 600;
}

.section-projects a:hover {
	color: var(--primary-btn-color-hover);
}

.section-projects p {
	margin-bottom: 0.5rem;
}

.section-projects img {
	border-radius: var(--primary-border-radius);
	height: 250px;
	object-fit: cover;
	object-position: center;
}
.sticky-on {
	border-bottom: 2px solid var(--border-color);
}

.section-projects figcaption {
	display: flex;
	justify-content: flex-end;
}

.filter-box {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	gap: 0.5rem;
	font-size: 0.8rem;
	position: absolute;
	transform: translateY(-129%);
	border-bottom-right-radius: var(--primary-border-radius);
	border-top-left-radius: var(--primary-border-radius);
	padding-right: 0.2rem;
	background-color: rgba(179, 148, 46, 0.9);
}

.filter-box li {
	padding: 0.1rem 0.3rem;
	font-size: 0.65rem;
	color: white;
	font-weight: bold;
}

section :is(a, span, p) {
	font-size: 0.9rem;
}

section span {
	margin: 0.3rem 0;
}
section p span {
	font-style: italic;
}

section h3 {
	padding-bottom: 0.5rem;
}

section p {
	padding-bottom: 0.5rem;
}

section h2 {
	font-size: 1rem;
	color: var(--primary-title-color);
	position: sticky;
	top: 0;
	background-color: var(--primary-bg-color);
	padding: 1rem 0;
	z-index: 999;
}

/* DESKTOP VERSION */
@media screen and (min-width: 600px) {
	.section-projects {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, auto));
	}

	h2 {
		grid-column: 1/-1;
	}
}

@media screen and (min-width: 1080px) {
	.section-projects {
		margin: auto;
		margin-top: 0;
	}
	section h2 {
		top: 10vh;
	}
	.section-projects small {
		font-size: 0.9rem;
	}
	.stay-app img {
		object-position: right;
	}
	section {
		padding-right: 0;
	}
	.section-projects h2 {
		font-size: 1.35rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	.section-projects article:nth-child(3) {
		grid-column: 1/-1;
	}
	.stay-app img {
		object-position: top;
	}
}
