h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--primary-title-color);
	background-color: var(--primary-color);
}

.type-project {
	font-weight: 100;
	color: var(--primary-text-color);
}

p,
span,
small {
	color: var(--primary-text-color);
}

a {
	color: var(--secondary-color);
}

html {
	scroll-behavior: smooth;
}

.body-hidden {
	opacity: 0;
}

body {
	width: 90%;
	max-width: none;
	margin: auto;
	overflow-x: hidden;
	transition: opacity 0.2s ease-in;
}

.section-cybersecurity {
	gap: 0;
	padding: 0;
}
.temp-text-work {
	text-align: center;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
	font-weight: 300;
	gap: 0;
	color: var(--primary-btn-color);
	padding-bottom: 0.5rem;

	font-size: 1.5rem;
	font-weight: bold;

	background: linear-gradient(
		90deg,
		var(--primary-btn-color) 0%,
		var(--primary-bg-color) 50%,
		var(--primary-btn-color) 100%
	);
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;

	animation: shine 2s linear infinite;
}

@keyframes shine {
	0% {
		background-position: 200% center;
	}
	100% {
		background-position: -200% center;
	}
}

section {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 2.1rem;
}

.section-projects .primary-btn {
	background-color: transparent;
	border: 1px solid var(--primary-btn-color);
	color: var(--primary-btn-color);
}

.last-update {
	margin-right: 0;
}

hr {
	border: 1px solid var(--primary-border-color);
	margin: auto;
	width: 100%;
	grid-column: 1/-1;
}

.hr-footer {
	width: 97%;
	margin-left: 1.5rem;
}

.section-projects {
	margin-top: 1.5rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, auto));
}

.section-projects a {
	text-decoration: none;
	font-weight: 600;
}

.section-projects h3 {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.date-project {
	margin-left: auto;
	font-size: 0.8rem;
}

.section-proyects h2 {
	margin-bottom: -1.5rem;
	padding-top: 1.5rem;
}

.section-projects p {
	margin-bottom: 0.5rem;
}

.section-projects img {
	border-radius: var(--primary-border-radius);
	height: 250px;
	object-fit: cover;
	object-position: center;
}

.section-projects .section-cybersecurity img {
	height: 350px;
}

.sticky-on {
	border-bottom: 2px solid var(--border-color);
}

.section-projects figcaption {
	display: flex;
	justify-content: flex-end;
}

.filter-box {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	gap: 0.5rem;
	font-size: 0.8rem;
	position: absolute;
	transform: translateY(-129%);
	border-bottom-right-radius: var(--primary-border-radius);
	border-top-left-radius: var(--primary-border-radius);
	padding-right: 0.2rem;
	background-color: var(--filter-box-bg-color);
}

.filter-box li {
	padding: 0.1rem 0.3rem;
	font-size: 0.65rem;
	color: var(--filter-box-color);
	font-weight: bold;
}

section a,
section span,
section p {
	font-size: 0.9rem;
}

section span {
	margin: 0.3rem 0;
}

section p span {
	font-style: italic;
}

section h3 {
	padding-bottom: 0.5rem;
	display: flex;
	flex-direction: row-reverse;
	gap: 0.7rem;
}

section p {
	padding-bottom: 0.5rem;
}

section h1 {
	font-size: 1rem;
	color: var(--primary-title-color);
	position: sticky;
	top: 0;
	background-color: var(--primary-bg-color);
	padding: 1rem 0;
	z-index: 999;
	text-align: right;
}

section figure + small {
	text-align: justify;
	display: block;
}

.project-security {
	grid-column: 1/-1;
}

.project-security img {
	object-fit: cover;
	object-position: bottom;
}

@media screen and (min-width: 550px) {
	section h1 {
		font-size: 1.5rem;
	}
}

/* DESKTOP VERSION */
@media screen and (min-width: 600px) {
	.section-projects {
		grid-template-columns: repeat(auto-fill, minmax(300px, auto));
		column-gap: 2rem;
		row-gap: 2rem;
	}
	.section-projects .project-security img {
		height: 320px;
		object-position: bottom;
	}
	section {
		gap: 1.1;
	}
	.section-projects h3 {
		margin-bottom: 0.5rem;
	}

	h1,
	.type-project,
	.section-cybersecurity {
		grid-column: 1/-1;
	}
}

@media screen and (min-width: 700px) {
	h1 {
		margin-top: 1.2rem;
		margin-bottom: -1rem;
	}
}

@media screen and (min-width: 1080px) {
	.section-projects {
		grid-template-columns: repeat(auto-fill, minmax(345px, auto));
	}
	.section-projects a {
		font-size: 0.85rem;
	}
	.section-projects {
		margin: auto;
		margin-top: 0;
	}

	section h1 {
		top: 9.9vh;
	}

	.section-projects small {
		font-size: 0.9rem;
	}

	.stay-app img {
		object-position: right;
	}

	section {
		padding-right: 0;
	}

	.section-projects h1 {
		font-size: 1.35rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	.section-projects article:nth-child(3) {
		grid-column: 1/-1;
	}

	.stay-app img {
		object-position: top;
	}
}
