:root {
	--primary-bg-color: white;
	--secondary-bg-color: rgb(241, 241, 241);
	--primary-title-color: #202124;
	--primary-text-color: rgb(95, 99, 104);
	--primary-btn-color: rgb(59, 76, 224);
	--primary-btn-color-hover: rgb(59, 76, 224);
	--secondary-btn-color: rgb(59, 76, 224);
	--filter-box-bg-color: rgba(46, 152, 179, 0.9);
	--filter-box-color: white;
	--primary-box-shadow-color: rgba(0, 0, 0, 0.15);
	--primary-border-color: rgb(230, 230, 230);
	--primary-border-radius: 4px;
	--font-family: 'DM Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
	--tertiary-bg-color: rgb(248, 248, 248);
}

body.dark {
	--primary-bg-color: #100f14;
	--secondary-bg-color: #383649;
	--primary-title-color: #ffffff;
	--primary-text-color: #b1b1b1;
	--primary-btn-color: #8698fc;
	--secondary-btn-color: rgb(38, 47, 126);
	--primary-btn-color-hover: #8698fc;
	--filter-box-bg-color: rgba(27, 93, 109, 0.9);
	--filter-box-color: #ececec;
	--primary-box-shadow-color: rgba(0, 0, 0, 0.5);
	--primary-border-color: #2d2c3b;
	--tertiary-bg-color: #23212b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.last-update {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-top: 1rem;
	display: block;
	text-align: right;
}

aside {
	position: fixed;
	top: 14vh;
	bottom: 14vh;
	width: 250px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
}

aside img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 24px;
}

.aside-left {
	left: 4vh;
}

.aside-right {
	right: 4vh;
}

.dark .last-update span:nth-child(2) {
	color: var(--primary-title-color);
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	margin: auto;
	max-width: 750px;
	overflow-x: hidden;
	transition: opacity 0.2s ease-in;
	font-family: var(--font-family);
	background-color: var(--primary-bg-color);

	&.body-hidden {
		opacity: 0;
	}
}

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--primary-bg-color);
	box-shadow: 0 -2px 6px var(--primary-box-shadow-color);
	z-index: 999;
	a {
		text-decoration: none;
	}
	ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		max-width: 550px;
		margin: auto;
		height: 100%;

		li {
			height: 100%;
			display: flex;
		}
	}

	a {
		padding: 1.5rem 0;
		height: 100%;
		font-weight: 550;
		font-size: 0.7rem;
		color: var(--primary-btn-color);

		&:hover {
			color: var(--primary-btn-color-hover);
		}
	}
	span {
		font-size: 0.7rem;
		font-weight: 550;
		cursor: pointer;
	}
	img {
		width: 32px;
		cursor: pointer;
		background-color: var(--secondary-bg-color);
		border-radius: 50%;
		padding: 0.5rem;
	}

	.secondary-btn {
		color: var(--primary-text-color);
	}
	.secondary-btn-active {
		color: var(--primary-btn-color);
		border-top: 3px solid var(--primary-btn-color);
	}
}

img {
	width: 100%;
}

.dot {
	font-size: 0.5rem;
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.hr-footer {
	margin: 1.5rem auto;
}

footer {
	padding: 0 1.5rem 5rem;
	grid-column: 2/-1;

	ul {
		display: flex;
		list-style: none;
		justify-content: space-between;
		align-items: center;
	}

	li {
		font-size: 0.8rem;

		&:first-child {
			padding-bottom: 0.5rem;
		}
	}

	:is(a, span) {
		color: var(--primary-text-color);
	}
}

.training-date h4 {
	font-weight: 600;
}

@media screen and (min-width: 800px) {
	nav .secondary-btn,
	nav ul span {
		font-size: 0.9rem;
	}
	nav img {
		padding: 0.5rem;
		width: 36px;
	}
}

@media screen and (min-width: 1080px) {
	nav {
		position: sticky;
		top: 0;
		height: fit-content;
		grid-column: 1/-1;
		border: none;
		box-shadow: none;

		a {
			font-size: 0.8rem;
		}
		span {
			font-size: 0.8rem;
		}
	}

	nav .secondary-btn-active {
		border: none;
	}

	footer {
		padding-bottom: 1.5rem;
	}
}
