:root {
	--primary-bg-color: white;
	--primary-bg-color-50: rgba(255, 255, 255, 0.5);
	--secondary-bg-color: rgb(241, 241, 241);
	--quaternary-bg-color: rgb(225, 225, 225);
	--primary-title-color: #202124;
	--primary-text-color: rgb(95, 99, 104);
	--primary-btn-color: rgb(59, 76, 224);
	--primary-btn-color-hover: rgb(59, 76, 224);
	--secondary-btn-color: rgb(59, 76, 224);
	--filter-box-bg-color: rgba(46, 152, 179, 0.9);
	--filter-box-color: white;
	--primary-box-shadow-color: rgba(0, 0, 0, 0.15);
	--primary-border-color: rgb(230, 230, 230);
	--primary-border-radius: 4px;
	--secondary-border-radius: 24px;
	--font-family: 'DM Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
	--tertiary-bg-color: rgb(248, 248, 248);
}

body.dark {
	--primary-bg-color: #100f14;
	--primary-bg-color-50: rgba(0, 0, 0, 0.9);
	--secondary-bg-color: #383649;
	--quaternary-bg-color: #3e3c52;

	--primary-title-color: #ffffff;
	--primary-text-color: #b1b1b1;
	--primary-btn-color: #8698fc;
	--secondary-btn-color: rgb(38, 47, 126);
	--primary-btn-color-hover: #8698fc;
	--filter-box-bg-color: rgba(27, 93, 109, 0.9);
	--filter-box-color: #ececec;
	--primary-box-shadow-color: rgba(0, 0, 0, 0.5);
	--primary-border-color: #2d2c3b;
	--tertiary-bg-color: #17151b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.last-update {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-top: 1rem;
	display: block;
	text-align: right;
}

.dark .last-update span:nth-child(2) {
	color: var(--primary-title-color);
}

.dark .last-update time {
	color: white;
	font-weight: 400;
}

aside {
	position: fixed;
	top: 14vh;
	bottom: 14vh;
	width: 250px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
}

aside img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 24px;
}

.aside-left {
	left: 4vh;
}

.aside-right {
	right: 4vh;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	margin: auto;
	max-width: 750px;
	overflow-x: hidden;
	transition: opacity 0.2s ease-in;
	font-family: var(--font-family);
	background-color: var(--primary-bg-color);
}

body.body-hidden {
	opacity: 0;
}

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--primary-bg-color);
	box-shadow: 0 -2px 6px var(--primary-box-shadow-color);
	z-index: 998;
}

nav a {
	text-decoration: none;
	padding: 1.5rem 0;
	height: 100%;
	font-weight: 550;
	font-size: 0.7rem;
	color: var(--primary-btn-color);
}

.beat-anim {
	animation: beat 3s infinite;
	transform-origin: center;
}

@keyframes beat {
	0% {
		transform: scale(1);
		background-color: var(--secondary-bg-color);
	}
	20% {
		transform: scale(1.05);
		background-color: var(--quaternary-bg-color);
	}
	40% {
		transform: scale(1);
		background-color: var(--secondary-bg-color);
	}
	60% {
		transform: scale(1.05);
		background-color: var(--quaternary-bg-color);
	}
	80% {
		transform: scale(1);
		background-color: var(--secondary-bg-color);
	}
	100% {
		transform: scale(1);
		background-color: var(--secondary-bg-color);
	}
}

nav a:hover,
footer a:hover {
	color: var(--primary-btn-color-hover);
}

@media (hover: none) {
	nav a:hover,
	footer a:hover {
		color: var(--primary-text-color);
	}
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	max-width: 550px;
	margin: auto;
	height: 100%;
}

nav ul li {
	height: 100%;
	display: flex;
}

nav span {
	font-size: 0.7rem;
	font-weight: 550;
	cursor: pointer;
}

nav img {
	width: 32px;
	cursor: pointer;
	background-color: var(--secondary-bg-color);
	border-radius: 50%;
	padding: 0.5rem;
}

nav .secondary-btn {
	color: var(--primary-text-color);
}

nav .secondary-btn-active {
	color: var(--primary-btn-color);
	border-top: 3px solid var(--primary-btn-color);
}

img {
	width: 100%;
}

.dot {
	font-size: 0.5rem;
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.hr-projects {
	margin-top: -0.5rem;
}

.hr-footer {
	margin: 1.5rem auto;
}

.primary-btn {
	background-color: var(--primary-btn-color);
	color: white;
	padding: 0.5rem;
	border-radius: var(--secondary-border-radius);
	font-size: 0.7rem;
	border: none;
	cursor: pointer;
}

footer {
	padding: 0 1.5rem 5rem;
	grid-column: 2/-1;
}

footer ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
}

footer li {
	font-size: 0.8rem;
}

footer li:first-child {
	padding-bottom: 0.5rem;
}

footer a,
footer span {
	color: var(--primary-text-color);
}

.training-date h4 {
	font-weight: 600;
}

time {
	font-weight: 400;
	font-size: 0.9rem;
	color: var(--primary-text-color);
}

.modal-notification {
	position: fixed;
	bottom: 12vh;
	right: 3vh;
	width: 80%;
	background-color: var(--tertiary-bg-color);
	border: 1px solid var(--primary-border-color);
	border-radius: var(--primary-border-radius);
	padding: 1rem;
	max-width: 300px;
	transform: translateY(150%);
	transition: transform 0.3s ease-in;
}

.modal-notification h5 {
	background-color: var(--tertiary-bg-color);
	padding-bottom: 0.5rem;
}
.modal-notification small {
	text-align: justify;
}

.modal-notification-active {
	transform: translateY(0);
}

@media screen and (min-width: 800px) {
	nav .secondary-btn,
	nav ul span {
		font-size: 0.9rem;
	}
	nav img {
		padding: 0.5rem;
		width: 36px;
	}
}

@media screen and (min-width: 1080px) {
	nav {
		position: sticky;
		top: 0;
		height: fit-content;
		grid-column: 1/-1;
		border: none;
		box-shadow: none;
	}

	.modal-notification {
		bottom: 2vh;
	}

	nav a {
		font-size: 0.8rem;
	}

	nav span {
		font-size: 0.8rem;
	}

	nav .secondary-btn-active {
		border: none;
	}

	footer {
		padding-bottom: 1.5rem;
	}
}
