:root {
	--primary-bg-color: white;
	--primary-bg-color-50: rgba(0, 0, 0, 0.5);
	--secondary-bg-color: rgb(241, 241, 241);
	--tertiary-bg-color: rgb(248, 248, 248);
	--quaternary-bg-color: rgb(225, 225, 225);
	--quinary-bg-color: rgb(225, 255, 254);
	--color-behind-box: rgb(217, 230, 228);
	--primary-title-color: #202124;
	--primary-text-color: rgb(95, 99, 104);
	--primary-btn-color: rgb(0, 168, 142);
	--primary-btn-color-hover: rgb(9, 190, 163);
	--secondary-btn-color: rgb(0, 168, 142);
	--filter-box-bg-color: rgb(109, 109, 109);
	--filter-box-color: white;
	--primary-box-shadow-color: rgba(0, 0, 0, 0.15);
	--primary-border-color: rgb(230, 230, 230);
	--primary-border-radius: 4px;
	--secondary-border-radius: 24px;
	--font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
	--bg-color-training: #f6f6ff;
	--border-color-training: rgb(220, 220, 241);
}

body.dark {
	--primary-bg-color: rgb(0, 0, 0);
	--primary-bg-color-50: rgba(0, 0, 0, 0.9);
	--secondary-bg-color: #383649;
	--tertiary-bg-color: #17151b;
	--quaternary-bg-color: #3e3c52;
	--quinary-bg-color: rgb(3, 24, 21);
	--color-behind-box: #2d3533;
	--primary-title-color: #fff;
	--primary-text-color: #b1b1b1;
	--primary-btn-color: rgb(35, 209, 174);
	--primary-btn-color-hover: rgb(37, 224, 187);
	--secondary-btn-color: rgb(35, 209, 174);
	--filter-box-bg-color: rgb(29, 29, 29);
	--filter-box-color: #ececec;
	--primary-box-shadow-color: rgba(0, 0, 0, 0.5);
	--primary-border-color: #2d2c3b;
	--bg-color-training: rgba(20, 20, 20, 1);
	--border-color-training: rgba(20, 20, 20, 1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 750px;
	margin: auto;
	overflow-x: hidden;
	transition: opacity 0.2s ease-in;
	font-family: var(--font-family);
	background-color: var(--primary-bg-color);
}

body.body-hidden {
	opacity: 0;
}

html {
	scroll-behavior: smooth;
}

.last-update {
	margin: 1rem 1.5rem 0 1.5rem;
	display: block;
	text-align: right;
}

.dark .last-update span:nth-child(2) {
	color: var(--primary-title-color);
}
.dark .last-update time {
	color: #fff;
	font-weight: 400;
}

aside {
	position: fixed;
	top: 14vh;
	bottom: 14vh;
	width: 250px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
aside img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: var(--secondary-border-radius);
}
.aside-left {
	left: 4vh;
}
.aside-right {
	right: 4vh;
}

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--primary-bg-color);
	box-shadow: 0 -2px 6px var(--primary-box-shadow-color);
	z-index: 998;
}
nav ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	max-width: 550px;
	margin: auto;
	list-style: none;
	height: 100%;
}
nav ul li {
	display: flex;
	height: 100%;
}
nav a,
nav span {
	font-weight: 550;
	font-size: 0.7rem;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.3s ease-in;
}
nav a {
	color: var(--primary-btn-color);
	padding: 1.5rem 0;
	height: 100%;
}
nav a:hover,
footer a:hover {
	color: var(--primary-btn-color-hover);
}
@media (hover: none) {
	nav a:hover,
	footer a:hover {
		color: var(--primary-text-color);
	}
}

nav img {
	width: 32px;
	padding: 0.5rem;
	cursor: pointer;
	background-color: var(--secondary-bg-color);
	border-radius: 50%;
}
nav .secondary-btn {
	color: var(--primary-text-color);
}
nav .secondary-btn-active {
	color: var(--primary-btn-color);
	border-top: 3px solid var(--primary-btn-color);
}

img {
	width: 100%;
}

.dot {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 0.5rem;
	height: 100%;
	margin: 0;
}

.hr-projects {
	margin-top: -0.5rem;
}
.hr-footer {
	margin: 1.5rem auto;
}

.primary-btn,
.tertiary-btn {
	font-size: 0.7rem;
	border-radius: var(--primary-border-radius);
	padding: 0.5rem;
	cursor: pointer;
	transition: background 0.3s ease-in;
}
.primary-btn {
	background-color: var(--primary-btn-color);
	color: var(--primary-bg-color);
	border: none;
}
.primary-btn:hover {
	background-color: var(--primary-btn-color-hover);
}
.tertiary-btn {
	border: 1px solid var(--primary-btn-color);
	background-color: var(--primary-bg-color);
	color: var(--primary-btn-color);
	text-decoration: none;
	padding: 0.45rem;
}

footer {
	padding: 0 1.5rem 5rem;
	grid-column: 2/-1;
}
footer ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
footer li:first-child {
	padding-bottom: 0.5rem;
}
footer li {
	font-size: 0.8rem;
}
footer a,
footer span {
	color: var(--primary-text-color);
}

.training-date h4 {
	font-weight: 400;
	display: flex;
	align-items: center;
	gap: 0.2rem;
}
time {
	font-size: 0.9rem;
	font-weight: 400;
	color: var(--primary-text-color);
}

.modal-notification {
	position: fixed;
	bottom: 12vh;
	right: 3vh;
	width: 80%;
	max-width: 300px;
	background-color: var(--tertiary-bg-color);
	border: 1px solid var(--primary-border-color);
	border-radius: var(--primary-border-radius);
	padding: 1rem;
	transform: translateY(150%);
	transition: transform 0.3s ease-in;
}
.modal-notification h5 {
	padding-bottom: 0.5rem;
}
.modal-notification small {
	text-align: justify;
}
.modal-notification-active {
	transform: translateY(0);
}

.email-send-modal {
	position: fixed;
	inset: 0;
	background-color: var(--primary-bg-color-50);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	z-index: 999;
}
.email-send-modal form {
	background-color: var(--tertiary-bg-color);
	display: flex;
	flex-direction: column;
	padding: 1.5rem 1.5rem 2rem;
	border-radius: var(--primary-border-radius);
	width: 90%;
	max-width: 400px;
	gap: 1rem;
}
.email-send-modal input,
.email-send-modal textarea {
	border-radius: var(--primary-border-radius);
	border: 1px solid var(--primary-border-color);
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	padding: 1rem;
}
.email-send-modal input:focus,
.email-send-modal textarea:focus {
	outline: 2px solid var(--primary-btn-color);
	border: 1px solid transparent;
}
.email-send-modal input[type='submit'] {
	width: 100px;
	background-color: var(--primary-btn-color);
	color: var(--primary-bg-color);
	border: none;
	transition: background 0.3s ease-in;
}
.email-send-modal input[type='submit']:hover {
	background-color: var(--primary-btn-color-hover);
}
.email-send-modal input[type='submit'],
.email-send-modal input[type='button'] {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	height: 40px;
	cursor: pointer;
	outline: none;
	border: 1px solid var(--primary-border-color);
	font-weight: 400;
}
.email-send-modal .group-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

textarea {
	resize: none;
}
.hidden {
	display: none;
}

.get-curriculum-btn-desktop {
	display: none;
}
.get-curriculum-btn-mobile {
	margin: auto;
	display: flex;
	margin-bottom: 1.5rem;
}

@media screen and (min-width: 500px) {
	.get-curriculum-btn-desktop {
		display: inline-block;
		margin-right: 0.5rem;
	}
	.get-curriculum-btn-mobile {
		display: none;
	}
}
@media screen and (min-width: 800px) {
	footer {
		padding-left: 0;
		padding-right: 0;
	}

	footer :is(a, button) {
		font-size: 1rem;
		font-weight: bold;
	}
	nav .secondary-btn,
	nav ul span {
		font-size: 1rem;
	}
	nav img {
		width: 36px;
		padding: 0.5rem;
	}
	.primary-btn,
	.tertiary-btn {
		font-size: 0.85rem;
	}
	.contact-text :is(span, time) {
		font-size: 0.85rem;
	}
}
@media screen and (min-width: 1080px) {
	nav {
		position: sticky;
		top: 0;
		height: fit-content;
		grid-column: 1/-1;
		border: none;
		box-shadow: none;
	}
	.modal-notification {
		bottom: 2vh;
	}
	nav a {
		font-size: 0.8rem;
	}
	nav span {
		font-size: 0.8rem;
	}
	nav .secondary-btn-active {
		border: none;
	}
	footer {
		padding-bottom: 1.5rem;
	}
}

.beat-anim {
	animation: beat 3s infinite;
	transform-origin: center;
}
@keyframes beat {
	0%,
	40%,
	80%,
	100% {
		transform: scale(1);
		background-color: var(--secondary-bg-color);
	}
	20%,
	60% {
		transform: scale(1.05);
		background-color: var(--quaternary-bg-color);
	}
}
